DB_NAME=name_example
DB_USER=user_example
DB_PASSWORD=password_example
DB_ROOT_PASSWORD=root_password_example

DB_NAME_LOCAL=db_local
DB_USER_LOCAL=user
DB_PASSWORD_LOCAL=password

URL_ORIGINS=origin1,origin2